{% extends 'base.html' %}

{% block content %}
<h1 class="text-4xl font-bold text-center mb-8">খাবার রেষ্টুরেন্ট</h1>

<div class="flex flex-wrap">
    {% for meal in meals %}
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 p-4">
        <div class="bg-white rounded-lg overflow-hidden shadow-md">
            <img src="{{ meal.strMealThumb }}" class="w-full" alt="{{ meal.strMeal }}">
            <div class="p-4">
                <h5 class="text-lg font-bold mb-2">{{ meal.strMeal }}</h5>
                <p class="text-gray-700">{{ meal.idMeal}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
